/* Start Global Rules*/
:root {
    --main-color: #f9a826;
    --second-color: #fef6ea;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cairo', sans-serif;
    direction: rtl;
}

::selection {
    color: #fff;
    background: var(--main-color)
}

.container {
    margin: 0px auto;
    padding: 0px 15px;
}

/* Small */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media(min-width:992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media(min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules*/



/*Start Header*/
.header {
    width: 100%;
    min-height: 60px;
    background-color: #fff;
    box-shadow: 0 0 10px #ddd;
    position: sticky;
    top: 0;
    z-index: 5;
}

.header nav {
    display: flex;
    justify-content: space-between;
}

.header nav .logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header nav .logo a {
    color: var(--main-color);
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

.header nav .logo img {
    height: 40px;
}

.header nav .links {
    display: flex;
    list-style: none;
}

.header nav .links li a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    line-height: 1;
    height: 60px;
    padding: 20px;
    display: block;
    position: relative;
    transition: .3s;
}

.header nav .links li a::before {
    content: '';
    position: absolute;
    height: 5px;
    width: 0;
    bottom: 0;
    right: 0px;
    background-color: var(--main-color);
    transition: .3s;
}

.header nav .links li a:hover,
.header nav .links li a.active {
    color: var(--main-color);
    background-color: var(--second-color);
}

.header nav .links li a:hover::before,
.header nav .links li a.active::before {
    width: 100%;
}

.header nav i {
    display: none;
    color: var(--main-color);
    font-size: 25px;
}

/* Small */
@media (max-width:767px) {
    .header nav {
        flex-direction: column-reverse;
        align-items: center;
    }

    .header nav .links {
        display: flex;
        list-style: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        background-color: #fff;
        box-shadow: 0 0 10px #ddd;
        height: 0;
        overflow: hidden;
        transition: 0.3s;
    }

    .header nav .show {
        height: 244px;
    }

    .header nav .resp-cont {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 20px;
    }

    .header nav .links li {
        border-bottom: solid 1px #ccc;
    }

    .header nav .resp-cont i {
        display: block;
        cursor: pointer;
    }
}

/* Medium */
@media(max-width:991px) {
    .header nav {}
}

/* Large */
@media(mix-width:1199px) {
    .header nav {}
}

/*End Header*/


/* Start Landing */
.landing .container {
    height: calc(100vh - 60px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing img {
    width: 50%;
}

.landing .text h2 {
    color: var(--main-color);
    margin-bottom: 30px;
    font-size: 35px;
}

.landing .text p {
    font-size: 18px;
}

/* Small */
@media (max-width:767px) {
    .landing .container {
        height: fit-content;
        margin: 50px 20px;
    }

    .landing img {
        display: none;
    }

    .landing .text {}
}

/* Medium */
@media(max-width:991px) {
    .header nav {}
}

/* Large */
@media(mix-width:1199px) {
    .header nav {}
}

/* End Landing */

.students {
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px 0;
}

.students ul {
    list-style: none;
}

.link {
    text-align: center;
    margin: 20px;
    word-break: break-word;
}

.link a {
    color: var(--main-color);
    text-decoration: none;
    font-weight: 900;
    font-size: 25px;
}

.link span {
    font-size: 25px;
    margin-left: 20px;
}

@media (max-width:767px) {
    .students ul {
        text-align: center;
        padding: 20px;
        list-style: none;
        flex-basis: 50%;
    }
}

/* Medium */
@media(max-width:991px) {
    .students {}
}

/* Large */
@media(mix-width:1199px) {
    .students {}
}

/* Start Req Load */
.form {
    padding: 40px 0px;
}

.form .container {
    display: flex;
    justify-content: space-between;
}

.form h2 {
    margin-bottom: 40px;
}

.form form {
    display: flex;
    flex-direction: column;
    column-gap: 80px;
    row-gap: 40px;
    justify-content: center;
    flex-basis: 40%;
    margin-right: 50px;
}

.form form div {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form form label {
    font-size: 18px;
}

.form form input,
.form form select {
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #eee;
    padding: 13px 20px 13px 45px;
    border-bottom: solid 3px #777;
    font-family: 'Cairo', sans-serif;
    margin-top: 15px;
    border-radius: 6px;
    transition: .2s linear;
    word-spacing: 5px;
}

.form form input {
    direction: ltr;
}

.form form input::placeholder {
    text-align: right;
}

.form form .select {
    flex-basis: calc((100% / 3) - 80px);
}

.form form input:focus,
.form form select:focus {
    outline: none;
    background-color: var(--second-color);
    border-bottom: solid 3px var(--main-color);
}

.form form input:focus+span::before {
    font-family: "Font Awesome 5 Free";
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    top: 60%;
    left: 15px;
}

.form form input:valid:focus+span::before {
    content: '\f058';
    color: #4caf50;
}

.form form input:invalid:focus+span::before {
    content: '\f057';
    color: #f43636;
}

.form form .dirRight {
    direction: rtl;
}

.form form .payment .content,
.form form .numYears .content {
    margin: 30px 30px 0 0;
}

.form form .payment .content label {
    margin: 0 5px 0 30px;
}

.form form input[type="submit"] {
    border: none;
    flex-basis: 30%;
    margin-top: 40px;
    cursor: pointer;
    background-color: var(--main-color);
}

.form form input[type="submit"]:hover {
    background-color: #ff9d00;
    color: #fff;
}

.form form .wrapper .captcha-img img {
    width: 100%;
}

.form form .wrapper .captcha-img .captcha {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    font-size: 2.7em;
    letter-spacing: 5px;
    color: #aaa;
}

.form form .wrapper .status-text {
    font-weight: bold;
    font-size: 20px;
}

.form .image {
    flex-basis: 40%;
}

.form .image img {
    margin-top: 10px;
    width: 97%;
    position: sticky;
    top: 110px;
}

@media (max-width:767px) {
    .form .image {
        display: none;
        flex-basis: 0%;
    }

    .form form {
        margin: 0;
        flex-basis: 80%;
    }

    .form .container {
        justify-content: center;
    }

}

/* Medium */
@media(max-width:991px) {
    .form .image img {}

}

/* Large */
@media(max-width:1199px) {
    .form .image img {}

}

/* End Req Load */


/* Start Products */
.products {
    padding: 40px 0;
}

.products .pro {
    margin: 0 auto;
    background-color: #eee;
    text-align: center;
    width: 95%;
    border-spacing: 0;
}

.products .pro caption {
    padding: 20px;
    font-size: 25px;
}

.products .pro thead {
    background-color: var(--main-color);
    position: sticky;
    top: 60px;
}

.products .pro thead th {
    font-size: 20px;
    padding: 15px 20px;
    border-bottom: 2px solid #777;
    color: #fff;
}

.products .pro tbody td {
    padding: 15px;
    font-size: 18px;
    border-bottom: solid 2px #777;
    cursor: pointer;
    transition: 0.3s;
}

.products .pro tbody tr:hover td {
    background-color: var(--second-color);
    border-bottom: solid 2px var(--main-color);
    color: var(--main-color);
}

.products .modal {
    width: 0;
    height: 0;
    background-color: var(--second-color);
    border-radius: 5px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    transition: 0.3s;
    overflow: hidden;
}

.products .hide {
    width: 550px;
    height: fit-content;
    border: solid 3px var(--main-color);
    border-top: none;
}

.products .modal .icon {
    height: 65px;
    background-color: var(--main-color);
}

.products .modal .icon h2 {
    padding: 10px;
    color: #fff;
}

.products .modal i {
    color: #f43636;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    font-size: 25px;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.products .modal .modalPara {
    display: none;
    margin: 20px 50px 30px;
    font-size: 20px;
}

@media (max-width:767px) {
    /* .products .pro {
        width: 95%;
    } */

    .products .hide {
        width: 450px;
    }
}

/* End Products */

/* Start Result */
.info form {
    display: flex;
    padding-top: 50px;
    justify-content: space-evenly;
    height: calc(100vh - 120px);
}

.info .content {
    width: 100%;
    padding: 0 40px;
}

.info .content h2 {
    color: var(--main-color);
    margin-bottom: 40px;
}

.info .content .user-info {
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
}

.info .content .user-info label {
    font-weight: 700;
}

.info .content .user-info input {
    font-size: 18px;
    font-family: 'Cairo', sans-serif;
    color: #000;
}

@media(max-width:991px) {
    .info form {
        flex-direction: column;
        height: 100%;
        align-items: center;
    }

    .info .content .user-info input {
        width: 45%;
    }
}

@media(max-width:767px) {
    .info .content .user-info input {
        width: 50%;
    }
}

/* End Result */

/* Start About */
.about-content {
    padding: 50px 0;
}

.about-content .text {
    margin: 50px 0;

}

.about-content .text h3 {
    margin: 30px 0;
}

.about-content .text p {
    margin-left: 50px;
}

/* End About */

/* Start Footer */
footer {
    height: 60px;
    background-color: var(--main-color);
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End Footer */